{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	<div class="search files">
	{{ form_start(search_form) }}
		{{ form_row(search_form.term, { 'attr': {'placeholder': 'Search files...' } }) }}
		<button type="submit">Search</button>
	{{ form_end(search_form) }}
	</div>
	{#
	<div class="filter-by">
		{{ form_start(filter_sort_form) }}
			{{ form_row(filter_sort_form.sort) }}
			{{ form_row(filter_sort_form.filter) }}
		{{ form_end(filter_sort_form) }}
	</div>
	#}
	<div class="file-upload">
	{{ form_start(form) }}
		{{ form_widget(form.new_upload, { 'attr': { 'multiple': 'multiple' }, 'full_name': form.new_upload.get('full_name') ~ 'upload[new_upload][]' }) }}
		<button type="submit" class="button small upload">Upload</button>
	{{ form_end(form) }}
	</div>
{% endblock %}

{% block main %}
	<hgroup class="title">
		<h1>File Manager</h1>
	</hgroup>
	<div class="container-content file-manager">
		<div class="listing">
		{% for file in files %}
			<a href="{{ url('ms.cp.file_manager.detail', {fileID: file.id}) }}" data-live>
				{% if file.isTypeImage() %}
					{{ getResizedImage(file, 200, 200) }}
					<div class="file-overlay">{{ file.name }}</div>
				{% else %}
					<img src="/cogules/Message:Mothership:ControlPanel/images/document.gif" alt="{{ file.altText }}" />
					<div class="file-overlay">{{ file.name }}</div>
				{% endif %}
			</a>
		{% else %}
			<p>No files found</p>
		{% endfor %}
		</div>
	</div>
{% endblock %}