{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block main %}
<h1>File Detail</h1>
<img src="{{ file.file.getPublicUrl }}" alt="{{ file.altText }}" style="max-width: 300px; height: auto;" />
<ul>
	<li>Name: {{ file.name }}</li>
	<li>Type: {{ file.typeID }}</li>
	<li>Size: {{ file.size }}</li>
	<li>Dimensions: {{ file.dimensionsX }} x {{ file.dimensionsY }}</li>
	<li>Uploaded By: {{ author.getName }} at {{ file.authorship.createdAt|date }}</li>
	{% if file.authorship.updatedAt != NULL %}
		<li>Editied By: {{ file.authorship.updatedBy }} at {{ file.authorship.updatedAt|date }}</li>
	{% endif %}
</ul>

<form action="{{ url('ms.cp.file_manager.edit', {fileID: file.fileID}) }}" method="post">
	<label for="file-tags">Tags</label>
	<textarea id="file-tags" name="file[tags]">{% for tag in file.tags %}
{{ tag }}{% if loop.last != true %}, {% endif %}
{% endfor %}</textarea>
	<label for="file-alt-text">Alt Text</label>
	<input id="file-alt-text" type="text" name="file[alt_text]" value="{{ file.altText }}" />
	<button name="update" type="submit" value="Submit">Update</button>
</form>

<form action="{{ url('ms.cp.file_manager.delete', {fileID: file.fileID}) }}" method="post">
	<input type="hidden" name="_method" value="DELETE">
	<button name="delete[delete]" value="delete" id="delete" type="submit">Delete</button>
</form>
{% endblock %}