{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block content %}
<h1>File Detail</h1>
<img src="{{ resize(file.file.getPublicUrl, 300, null) }}" alt="{{ file.altText }}" />
<ul>
	<li>Name: {{ file.name }}</li>
	<li>Type: {{ file.typeID }}</li>
	<li>Size: {{ file.size }}</li>
	<li>Dimensions: {{ file.dimensionsX }} x {{ file.dimensionsY }}</li>
	<li>Uploaded By: {{ author.getName }} at {{ file.authorship.createdAt|date }}</li>
	{% if file.authorship.updatedAt != NULL %}
		<li>Editied By: {{ file.authorship.updatedBy }} at {{ file.authorship.updatedAt|date }}</li>
	{% endif %}
</ul>

<form action="{{ url('ms.cp.file_manager.edit', {fileID: file.id}) }}" method="post">
	<label for="file-tags">Tags</label>
	<textarea id="file-tags" name="file[tags]">{{ file.tags|join(', ') }}</textarea>

	{% if file.isTypeImage() %}
	<label for="file-alt-text">Alt Text</label>
	<input id="file-alt-text" type="text" name="file[alt_text]" value="{{ file.altText }}" />
	{% endif %}

	<button name="update" type="submit" value="Submit">Update</button>
</form>

<form action="{{ url('ms.cp.file_manager.delete', {fileID: file.id}) }}" method="post">
	<input type="hidden" name="_method" value="DELETE">
	<button name="delete[delete]" value="delete" id="delete" type="submit">Delete</button>
</form>
{% endblock %}