{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block content %}
<h1>File Detail</h1>
<img src="{{ resize(file.file.getPublicUrl, 300, null) }}" alt="{{ file.altText }}" />
<ul>
	<li>Name: {{ file.name }}</li>
	<li>Type: {{ file.typeID }}</li>
	<li>Size: {{ file.fileSize }}</li>
	<li>Dimensions: {{ file.dimensionX }} x {{ file.dimensionY }}</li>
	<li>Uploaded By: {{ author.getName }} at {{ file.authorship.createdAt|date }}</li>
	{% if file.authorship.updatedAt != NULL %}
		<li>Editied By: {{ file.authorship.updatedBy }} at {{ file.authorship.updatedAt|date }}</li>
	{% endif %}
</ul>

{{ form_start(form) }}
	{{ form_row(form.tags) }}
	{{ form_row(form.alt_text) }}
	<button name="update" type="submit" value="Submit">Update</button>
{{ form_end(form) }}

<form action="{{ url('ms.cp.file_manager.delete', {fileID: file.id}) }}" method="post">
	<input type="hidden" name="_method" value="DELETE">
	<button name="delete[delete]" value="delete" id="delete" type="submit">Delete</button>
</form>
{% endblock %}