<h1>File Detail</h1>
<img src="{{ file.file.getPublicUrl }}" alt="{{ file.altText }}" style="max-width: 300px; height: auto;" />
<ul>
	<li>Name: {{ file.name }}</li>
	<li>Type: {{ file.typeID }}</li>
	<li>Size: {{ file.size }}</li>
	<li>Dimensions: {{ file.dimensionsX }} x {{ file.dimensionsY }}</li>
	<li>Uplodaed By: {{ author.getName }} at {{ file.authorship.createdAt|date }}</li>
	<li>Editied By: {{ file.authorship.updatedBy }} at {{ file.authorship.updatedAt|date }}</li>
</ul>

<form action="" method="post">
	<button type="submit" name="insert" id="insert" value="Insert">Insert</button>
</form>

<form action="/files/detail/{{ file.fileID }}/edit" method="post">
	<label for="file-tags">Tags</label>
	<textarea id="file-tags" name="file[tags]">{% for tag in file.tags %}
{{ tag }}{% if loop.last != true %}, {% endif %}
{% endfor %}</textarea>
	<label for="file-alt-text">Alt Text</label>
	<input id="file-alt-text" type="text" name="file[alt_text]" value="{{ file.altText }}" />
	<button name="update" type="submit" value="Submit">Update</button>
</form>

<form action="/files/detail/{{ file.fileID }}/delete" method="post">
	<button name="delete[delete]" value="delete" id="delete" type="submit">Delete</button>
</form>