{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	<a href="{{ url('ms.cp.file_manager.listing') }}" class="back" data-live>Back to file list</a>
{% endblock %}

{% block main %}
<hgroup class="title">
	<h1>{{ 'ms.cp.file_manager.detail.title'|trans }}</h1>
</hgroup>

<div class="container-content file-manager">
	<div class="file-attributes">
		<img src="{{ resize(file.file.getPublicUrl, 300, null) }}" alt="{{ file.altText }}" />
		<h1>{{ 'ms.cp.file_manager.detail.labels.name'|trans }}: {{ file.name }}</h1>
		{{ form_start(form) }}
			{{ form_row(form.alt_text) }}
			{{ form_row(form.tags) }}
			<button name="update" type="submit" value="Submit" id="save-content" class="button save">Save changes</button>
		{{ form_end(form) }}
	</div>


	<ul class="file-details">
		<li><span>{{ 'ms.cp.file_manager.detail.labels.type'|trans }}</span>{{ file.typeID }}</li>
		<li><span>{{ 'ms.cp.file_manager.detail.labels.size'|trans }}</span>{{ file.fileSize }}</li>
		<li><span>{{ 'ms.cp.file_manager.detail.labels.dimensions'|trans }}</span>{{ file.dimensionX }} x {{ file.dimensionY }}</li>
		<li><span>{{ 'ms.cp.file_manager.detail.labels.author'|trans }}</span>{{ author.getName }} at {{ file.authorship.createdAt|date }}</li>
		{% if file.authorship.updatedAt != NULL %}
			<li><span>{{ 'ms.cp.file_manager.detail.labels.edit-by'|trans }}</span>{{ file.authorship.updatedBy }} at {{ file.authorship.updatedAt|date }}</li>
		{% endif %}
	</ul>

	<form action="{{ url('ms.cp.file_manager.delete', {fileID: file.id}) }}" method="post">
		<input type="hidden" name="_method" value="DELETE">
		<button name="delete[delete]" value="delete" id="delete" type="submit" class="button delete">{{ 'ms.cp.file_manager.detail.buttons.delete'|trans }}</button>
	</form>

</div>

{% endblock %}