{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block content %}
<h1>File Manager</h1>

{{ form_start(form) }}
	{{ form_widget(form.new_upload, { 'attr': { 'multiple': 'multiple' }, 'full_name': form.new_upload.get('full_name') ~ 'upload[new_upload][]' }) }}
	<button type="submit">Upload</button>
{{ form_end(form) }}

{{ form_start(search_form) }}
	{{ form_row(search_form.term) }}
	<button type="submit">Search</button>
{{ form_end(search_form) }}

{% for file in files %}
	<a href="{{ url('ms.cp.file_manager.detail', {fileID: file.id}) }}"><img src="{{ resize(file.file.getPublicUrl, 200, 200) }}" alt="{{ file.altText }}" /></a>
{% endfor %}
{% endblock %}