<h1>File Manager</h1>

{% for types in flash %}
	{% for message in types %}
		<p>{{ message }}</p>
	{% endfor %}
{% endfor %}

<form action="" method="post" enctype="multipart/form-data">
	<input type="file" name="upload[]" multiple />
	<input type="submit" name="submit" value="Upload" />

	<select name="filter">
		<option value="">Sort by...</option>
	</select>

	<select name="sort">
		<option value="">Filter by...</option>
	</select>
</form>

<form action="/files/view" method="get">
	<input type="search" name="search" placeholder="Search" value="{{ search }}" />
	<button type="submit">Search</button>
</form>

{% for file in files %}
	<a href="/files/detail/{{ file.fileID }}"><img src="{{ file.file.getPublicUrl }}" alt="{{ file.altText }}" style="width: 200px; height: auto;" /></a>
{% endfor %}
