{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block main %}
<h1>File Manager</h1>

<form action="{{ url('ms.cp.file_manager.upload') }}" method="post" enctype="multipart/form-data">
	<input type="file" name="upload[]" multiple />
	<input type="submit" name="submit" value="Upload" />

	<select name="filter">
		<option value="">Sort by...</option>
	</select>

	<select name="sort">
		<option value="">Filter by...</option>
	</select>
</form>

<form action="{{ url('ms.cp.file_manager.search.forward') }}" method="post">
	<input type="search" name="file_search[term]" id="file_search-term" placeholder="Enter search term&hellip;" value="{{ searchTerm }}">
	<button type="submit">Search</button>
</form>

{% for file in files %}
	<a href="{{ url('ms.cp.file_manager.detail', {fileID: file.id}) }}"><img src="{{ file.file.getPublicUrl }}" alt="{{ file.altText }}" style="width: 200px; height: auto;" /></a>
{% endfor %}
{% endblock %}